@model BeerSession.Models.User
@{
    ViewData["Title"] = "MyTasting";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Enter</th>
            <th>Remove</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tastings)
        {
        <tr>
            <th>@item.Tasting.ID</th>
            <td>@item.Tasting.Name</td>
            <td>
                <form method="post" asp-action="GetTasting" asp-controller="Tasting">
                    <input type="hidden" name="tastingId" value="@item.Tasting.TastingTag" />
                    <button type="submit" class="">Show tasting</button>
                </form>
            </td>
            <td>
                <form method="post" asp-action="RemoveTasting" asp-controller="Tasting">
                    <input type="hidden" name="tastingId" value="@item.Tasting.TastingTag" />
                    <button type="submit" class="button-default">Remove tasting</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

