@model BeerSession.Models.Tasting

@{
    ViewData["Title"] = "Tasting";
}

<div class="basic-form">
    <form asp-controller="Tasting" asp-action="NewTasting" method="post">
        <h2>Create new session</h2>
        <div class="form-group">
            <label>Name of the tasting</label>
            <input class="form-control" type="text" asp-for="Name" />
        </div>
        <div>
            <label>Add password</label>
            <input class="form-control" type="password" asp-for="Password" />
        </div>
        <button type="submit" id="createTastingButton" class="btn btn-default">Create session</button>
    </form>
</div>

