
@model  BeerSession.Models.Tasting
@{
    ViewData["Title"] = "Session";
}
<div class="content-container column center">
    <div class="content">
        <h1 class="header-text">Grand total</h1>
        <div class="buttons">
            <form method="post" asp-action="AddBeers" asp-controller="Tasting">
                <input type="hidden" name="tastingId" value="@Model.TastingTag" />
                <Button type="submit" class="button-primary no-margin">Manage beers</Button>
            </form>
    
            <form method="post" asp-action="GetTasting" asp-controller="Tasting">
                <input type="hidden" name="tastingId" value="@Model.TastingTag" />
                <button type="submit" class="button-primary no-margin">Manage participants</button>
            </form>
            <form method="post" asp-action="Start" asp-controller="Tasting">
                <input type="hidden" value="@Model.TastingTag" id="tastingId" name="tastingTag">
                <button class="button-primary" type="submit">Start the session</button>
            </form>
        </div>
        <div class="content">
            <partial name="_participantPartial"></partial>
            <partial name="_beersPartial"></partial>
        </div>
    </div>
</div>

<script src="~/js/session.js"></script>

