<div id="systemet-modal" class="modal">
    <div class="modal-content">
        <div class="modal-top">
            <h3>Get beer from systemet</h3>
            <span class="close">&times;</span>
        </div>
        <div class="form-pair">
            <input list="producers" id="producer-input">
            <datalist id="producers"></datalist>
            <button type="submit" class="button-primary" id="producer-button">Choose</button>
        </div>
        <div id="beer-chooser" class="form-pair no-show">
            <input list="beer-listing" id="beer-input">
            <datalist id="beer-listing"></datalist>
            <button type="submit" class="button-primary" id="beer-chooser-button">Choose</button>
        </div>
    </div>
</div>