@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="login-bar">
@if (SignInManager.IsSignedIn(User))
{
    <li class="">
        <a  class="" asp-area="Identity" asp-page="/account/manage/index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="">
        <form  class="" asp-area="Identity" asp-page="/account/logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="button-primary no-margin">Logout</button>
        </form>
    </li>
}
else
{
    <li class="">
        <a class="" asp-area="Identity" asp-page="/account/register">Register</a>
    </li>
    <li class="">
        <a class="" asp-area="Identity" asp-page="/account/login">Login</a>
    </li>
}
</ul>