@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - BeerSessions</title>
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header class="main-header space-bottom">
        <div class="nav-container">
            <a class="logo-container" asp-action="Index" asp-controller="Home"><img id="head-logo" src="~/images/logo_no-text.svg"></a>
            <nav class="main-navigation">
                <ul class="first-links">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a asp-action="Index" asp-controller="Tasting">Go</a></li>
                    
                </ul>
                <div class="spacer"></div>
                <partial name="_LoginPartial"/>
            </nav>
        </div>
    </header>
    <main role="main" class="space-bottom">
        <partial name="_CookieConsentPartial"/>
        @RenderBody()
    </main>

    <footer>
        <div>

        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>