@using System.Web
@model BeerTastingWebApp.Models.User

@{
    ViewData["Title"] = "_LoginPartial";
}

<ul id="loginList" class="nav navbar-nav navbar-right">
    <li id="login"><a asp-controller="Home" asp-action="Login">Login</a></li>
    <li id="signup"><a asp-controller="Home" asp-action="Signup">Signup</a></li>
</ul>

<script>
    $(document).ready(function () {

        if (!document.cookie.indexOf("LoggedIn") > -1) {
            document.getElementById("login").remove();
            document.getElementById("signup").remove();
            var li = document.createElement("li");
            var aTag = document.createElement("a");
            li.appendChild(aTag);
            li.textContent = "Sign out";
            li.id = "signout";
            aTag.setAttribute("asp-action", "SignOut");
            aTag.setAttribute("asp-controller", "Home");

            document.getElementById("loginList").appendChild(li);
        }
        else {
            console.error("no cookie");
        }
        
    });
</script>