@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="hero-content">
                <h1>Beer tasting</h1>
                <a asp-controller="Home" asp-action="Login" class="btn btn-primary btn-large">Get started »</a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="container">

    </div>

</div>