@model BeerTastingWebApp.Models.User

@{
    ViewData["Title"] = "Signup";
}

<div class="inlog-form">
    <form method="post" asp-action="SignupVal" asp-controller="Home">
        <h2>Signup</h2>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" asp-for="Name" placeholder="Enter your name" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" asp-for="Email" placeholder="Enter your email" />
        </div>
        <div class="form-group">
            <label>User name</label>
            <input class="form-control" type="text" asp-for="UserName" placeholder="Enter your username" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" asp-for="Password" placeholder="Enter your password" />
        </div>
        <button type="submit" class="btn btn-default">Register account</button>
    </form>
</div>