body, html {
    height: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

footer {
    background-color: #f8f8f8;
    padding: 25px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 0;
}

ul, li {
    list-style-type: none;
}

.list {
    margin-top: 15px;
}


.hero {
    height: 40vh;
    background-image: url(../images/beer-3445988_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px #000; 
}
.hero-content a{
    text-shadow: none;
}

.inlog-form{
    margin-right: auto;
    margin-left: auto;
    width: 30vh;
    margin-bottom: 15px;
}

.inlog-form form{
    margin-bottom: 10px;
}

@media(max-width: 768px){
    .inlog-form{
        width: 100%;
        padding: 0 20px;
    }
}

.navbar-custom{
    margin-bottom: 0;
}

.basic-form {
    width: 40vh;
    padding: 20px 30px;
}

.basic-form button{
    margin-top: 20px;
}